@model dynamic

<h2>Final Step</h2>

<h3>Step 1 Data:</h3>
<p>First Name: @Model.PersonalData.FirstName</p>
<p>Last Name: @Model.PersonalData.LastName</p>

<h3>Step 2 Data:</h3>
<p>Email: @Model.SocialData.Email</p>
<p>Phone: @Model.SocialData.Phone</p>

<h3>Step 3 Data:</h3>
<p>Address: @Model.HomeData.Address</p>
<p>City: @Model.HomeData.City</p>
<p>Country: @Model.HomeData.Country</p>
